.items-container {
  display: flex;
}

.base-items {
  cursor: pointer;
}

.base-items .item:hover {
  -webkit-box-shadow:inset 0px 0px 0px 2px gold;
  -moz-box-shadow:inset 0px 0px 0px 2px gold;
  box-shadow:inset 0px 0px 0px 2px gold;
}

/* .combined-items {
  display: flex;
  flex-direction: column;
} */

/* .combined-items-row {
  display: flex;
  flex-wrap: nowrap;
} */

.base-item,
.combined-items-recipe,
.combined-items-into {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

table {
  text-align: left;
}