
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  /* padding: 0.4em; */
}

.btn {
  cursor: pointer;
  margin:0.2em;
  font-size: 30px;
  transition: 0.4s;
}

.btn:hover {
  color: rgba(180, 5, 136, 0.747);
}
