html, body  {
  width: fit-content;
}

.App {
  color: white;

  text-align: center;
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.486);
}

.clickableElement > * {
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container span {
  font-weight: 800;
}

.info-container span.link::before {
  content:"🔗",
}

.info-container  span.link {
  color: rgb(25, 25, 255);
  text-decoration-line: underline;
}

.info-container > .separator {
  width: 80%;
}

